
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h1>Deluxe Möbler</h1>
<h2>Login below </h2>

<form method="post">
    Email: <input type="text" name="email" />
    Passowrd: <input type="password" name="passowrd" />
    <input type="submit" value="Login" />


</form>